.standard-container
  %h2
    = "#{current_user.user_name}'s Clients".titleize
  .clients-table
    - unless @smash_clients.nil? || @smash_clients.count < 1
      %table.table.table-striped
        %thead
          %tr
            %th Name
            %th Status
            %th memory
            %th CPU
            %th Action
        %tbody
          - @smash_clients.each do |sc|
            - if sc.contracts.first.running?
              %tr
                %td= sc.name
                %td= sc.contracts.first.status
                %td= sc.contracts.first.instance_memory
                %td= sc.contracts.first.instance_cpu
                %td= link_to 'Stop', stop_path(id: sc.contracts.first.id), class: 'btn', data: {disable_with: 'Stopping...'}, confirm: 'Are you sure you want to stop the instance?', params: { id: sc.contracts.first.id }

      %br

  = link_to 'Create a new AWS instance and Smash client', new_smash_client_path