.standard-container
  %h2
    = "#{current_user.user_name}'s Clients".titleize
  .clients-table
    - if @smash_clients.count > 0
      %table.table.table-striped
        %thead
          %tr
            %th Name
            %th User
            %th Status
            %th Show
            %th Edit
            %th Stop
            %th Terminate
        %tbody
          - @smash_clients.each do |sc|
            %tr
              %td= sc.name
              %td= sc.user
              %td= sc.contracts.first.status
              %td= link_to 'Show', smash_client_path(sc), class: 'btn', method: :get, data: { disable_with: '...'}
              %td= link_to 'Edit', edit_smash_client_path(sc), class: 'btn', method: :get, data: { disable_with: '...'}
              %td= link_to 'Stop', stop_path( id: sc.contracts.first.id ), class: 'btn', data: {disable_with: 'Stopping...'}, confirm: 'Are you sure you want to stop the instance?'
              %td= link_to 'Terminate', terminate_path( id: sc.contracts.first.id ), { class: 'btn', data: {disable_with: 'Terminating...'}, confirm: 'Are you sure you want to terminate the instance?  You\'ll loose all your data too.' }

      %br

  = link_to 'Create a new AWS instance and Smash client', new_smash_client_path

#overlay