.standard-container
  %h2
    = "#{current_user.user_name}'s Clients".titleize
  .clients-table
    - if @smash_clients.count > 0
      %table.table.table-striped
        %thead
          %tr
            %th Name
            %th User
            %th Status
            %th Show
            %th Edit
            %th Stop
            %th Terminate
        %tbody
          - @smash_clients.each do |sc|
            %tr
              %td= sc.name
              %td= sc.user
              %td= sc.contracts.first.status
              %td= button_to 'Show', smash_client_path(sc), method: :get, data: { disable_with: "..." }
              %td= button_to 'Edit', edit_smash_client_path(sc), method: :get, data: { disable_with: "..." }
              %td= button_to 'Stop', sc, method: :delete, data: { disable_with: "Stopping..." }, confirm: 'Are you sure you want to stop the instance?', params: { kill_type: 'stop' }
              %td= button_to 'Terminate', sc, method: :delete, data: { disable_with: "Terminating..." }, confirm: 'Are you sure you want to terminate the instance?  You\'ll loose all your data too.', params: { kill_type: 'terminate' }
              / %td= button_to 'Destroy', sc, :method => :delete, :data => { :confirm => 'Are you sure?' }

      %br

  = link_to 'New AWS instance and Smash client', new_smash_client_path
