!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title Cloud God
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    - if user_signed_in?
      #saws-header
        .dropdown
          %button#dropdownMenu1.btn.btn-default.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
            = current_user.user_name.titleize
            %span.caret
          %ul.dropdown-menu.dropdown-menu-right{"aria-labelledby" => "dropdownMenu1"}
            - if current_user.admin?
              %li
                = link_to 'New User', new_user_registration_path
              %li
                %a{:href => "#"} Something else here
            %li
              = link_to 'Logout', destroy_user_session_path, method: :delete
    .main-container
      .main-background
        = yield

